*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    position: center;
}


p{
    font-size: 25px;
    background-color: black;
    color: white;
    position: center;
}

h1{
    font-size: 25px;
    position: center;
}

header {
    background-color: black;
    font-size: 25px;
    position: center;
    color: white;
}

button{
    color: white;
    background-color: black;
}

.textarea{
    width: 10px;
    height: 10px;
    background-color: black;
    color: white;
}

nav {
    background-color: red;
    position: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
    position: center;
}

section {
    margin-bottom: 20px;
}

Name: Creating-Community-Dashboard.html

.name{
    font-size: 25px;
    position: center;
    color: white;
background-color: black;
}

.textarea{
    width: 500px;
    height: 200px;
    background-color: black;
    color: white;
} 

button{
    color: white;
    background-color: black;
}

header {
    background-color: black;
    font-size: 25px;
    position: center;
    color: white;
}
